{{>layout/header}}

<h1> Test </h1>
<div class = "col-md-12">
    <div class = "row">
        <div class = "col-md-6">
            <a href = "/users/signin" role = "button" class = "btn = btn-primary"> 로그인 </a>
            <a href = "/users/signup" role = "button" class = "btn = btn-primary"> 회원가입 </a>
        </div>
    </div>
</div>

{{>layout/footer}}