<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{{>layout/header}}

<div class="container">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">상품명</th>
            <th scope="col">색상</th>
            <th scope="col">사이즈</th>
            <th scope="col">수량</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">[찰떡핏/기본템] 도톰 브이넥 반팔니트</th>
            <td>베이지</td>
            <td>FREE</td>
            <td>16</td>
        </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}