<div class="container">
    <div align="right">
        <button type="button" class="btn btn-secondary" id="btn-copy">내용 복사</button>
    </div>
    <div>
        <table class="table table-hover table-dark" id="listBody">
            {{#orderList}}
                <thead>
                <tr>
                    <th scope="col">{{productName}}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#optionEntry}}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                {{/optionEntry}}
                </tbody>
            {{/orderList}}
        </table>
    </div>
</div>