<table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">주문 번호</th>
            <th scope="col">상품명</th>
            <th scope="col">판매가</th>
            <th scope="col">옵션 정보</th>
            <th scope="col">수량</th>
            <th scope="col">주문자</th>
            <th scope="col">연락처</th>
            <th scope="col">수취인</th>
            <th scope="col">수취인 연락처</th>
            <th scope="col">우편 번호</th>
            <th scope="col">배송 주소</th>
            <th scope="col">배송 메모</th>
        </tr>
        </thead>
        <tbody>
        {{#orderList}}
            <tr>
                <td>{{orderNumber}}</td>
                <td>{{productName}}</td>
                <td>{{price}}</td>
                <td>{{optionData}}</td>
                <td>{{amount}}</td>
                <td>{{customer}}</td>
                <td>{{customerPh}}</td>
                <td>{{receiver}}</td>
                <td>{{receiverPh}}</td>
                <td>{{zipCode}}</td>
                <td>{{address}}</td>
                <td>{{note}}</td>
            </tr>
        {{/orderList}}
        </tbody>
    </table>
</br>